body{
    position: relative;
    width: 414px;
    min-height: 920px;
    margin: 0;
    justify-content: center;
}

header{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 25px;
    top: 30px;
}

/* лого профиль */
.line-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 365px;

    margin-bottom: 16px;
}

.img_1{
    width: 236px;
    height: 63px;
}

.icon{
    width: 113px;
    height: 56px;
    margin: 0;

    background: #9F2762;
    border-radius: 15px;
}

.img_pr{
    position: absolute;
    width: 35px;
    height: 35px;
    top: 10px;
    left: 290px;
}

/* поиск добавить */
.search_l{
    top: 101px;
    left: 15px;
}

.img_po{
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 0;
    left: 255px;
    top: 85px;
}

.icon3{
    width: 50px;
    height: 50px;

    background: #9F2762;
    border-radius: 15px;
}

.img_pl{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 92px;
    left: 327px;
}


h1{
    top: 190px;
    width: 300px;

    font-family: sans-serif, Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: left;

    margin: 0;

    color: #000000;
}

label{
    font-family: sans-serif, Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

    margin-bottom: 5px;

    color: #000000;
}

a{
    text-decoration: none;
    /* cursor:pointer;*/
}

input{
    width: 302px;
    height: 50px;

    padding-left: 5px;
    font-family: sans-serif, Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    background: #FFF2F9;
    border: 1px solid #9F2762;
    box-sizing: border-box;
    border-radius: 15px;
}

ul{
    position: absolute;
    list-style: none;
    width: 365px;
    top: 210px;
    padding: 0 25px;
}

li {
    margin-bottom: 26px;
}

.food_name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 365px;
    height: 75px;
    background: #9F2762;
    border-radius: 15px 15px 0 0;
    border-style: none;
}

.group{
    margin-top: 20px;
    margin-left: 20px;
    font-family: sans-serif, Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    float: left;

    color: #FFFFFF;
}

.food_img{
    width: 365px;
    height: 75px;
    border-radius: 0 0 15px 15px;
    border-style: none;
    object-fit: cover;
}

button{
    position: absolute;
    width: 30px;
    height: 30px;
    background: none;
    border-style: none;
    padding: 0;
    z-index: 100;
}

#lupa{
    margin: 0;
    left: 255px;
    top: 85px;
    width: 40px;
    height: 40px;
}